<!--仮のレイアウト-->
<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="text-center">-->
<!--      <%#= image_tag 'img1.png', class: "img-fluid" %>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<% if user_signed_in? %>
<div class="container">
  <h1>新規投稿</h1>
  <%= render 'public/notes/form', note: @note %>
</div>
<% else %>
   <%= link_to "管理者ログインはこちら",  new_admin_session_path %>
<% end %>
