<div class="container">
 <div class="d-flex">
  <h3 class="mt-4">覚えたフレーズ詳細</h3>
  </div>
  <%= link_to "覚えたページ一覧", complete_index_notes_path, class: "btn btn-outline-success mt-2 mb-2" %>
  <div class="table-responsive">
    <table class="table note-table">
      <thead>
        <tr class="table-success">
          <th></th>
          <th>キーワード</th>
          <th>英語</th>
          <th>日本語</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">︎</th>
          <td><%= @note.word %></td>
          <td><%= @note.english %></td>
          <td><%= @note.japanese %></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
<div>

