/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fullcalendar
 */

@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


.notice{
  color: #75B5A1;
}

.alert{
  color: #75B5A1;
}

.btn {
  border-radius: 100px;
}

@media screen and (max-width: 415px) {
  .user-table{
    width: 600px;
  }
}

/*--------------------------------------------------------------
# Pagination
--------------------------------------------------------------*/

.pagination li a {
  color: #75B5A1;
  background-color: #fff;
  border-radius: 5px;
}
.page-item.active .page-link {
  color: #75B5A1;
  background-color: #fff;
}

/*--------------------------------------------------------------
# Skkiper
--------------------------------------------------------------*/

#images {
  height: 440px;
  padding-top: 50px;
  padding-bottom: 50px;

}

.image1 {
  background-image: url("img8.jpg");
  height: 400px;
}
.image2 {
  background-image: url("img7.jpg");
  height: 400px;
}
.image3 {
  background-image: url("img6.jpg");
  height: 400px;
}
.image4 {
  background-image: url("img8.jpg");
  height: 400px;
}



/*--------------------------------------------------------------
# Hero
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 75vh;
  background: url("img8.jpg") top center;
  background-size: cover;
  position: relative;
  margin-bottom: -80px;
}

#hero:before {
  content: "";
  background: rgba(173, 154, 133, 0.85);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  padding-bottom: 50px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 300;
  line-height: 56px;
  color: #fff;
}
#hero h2 {
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: 300;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}
@media (max-width: 768px) {
  #hero h1 {
    font-size: 24px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 12px;
    line-height: 24px;
    margin-bottom: 10px;
  }
}


/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/


#about .about-container {
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  padding-top: 100px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#about .about_image{
  display: inline-block;
  padding-left: 50px;
}

#about .about-body {
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: inline-block;
  padding-top: 10px;
  padding-left: 60px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#about p {
  padding-top: 10px;
}

#about h4 {
  font-family: "Open Sans", sans-serif;
  margin: 0 0 20px 0;
  font-size: 40px;
  font-weight: 300;
  line-height: 56px;
}


#about h5 {
  font-family: "Open Sans", sans-serif;
  margin: 0 0 0 10px ;
  font-size: 25px;
  font-weight: 300;
  line-height: 20px;
}

// @media (max-width: 768px) {
//   #about .about-container {
//   text-align: center;
//   }
//   #about h4 {
//     font-size: 28px;
//     line-height: 36px;
//   }
//   #about h5 {
//     font-size: 20px;
//     line-height: 36px;
//   }
// }

/*--------------------------------------------------------------
# Body
--------------------------------------------------------------*/

body {
  font-family: "Open Sans", sans-serif;
  color: #777;
  background-color: #FFF6E6;
}


h1, h2, h3, h4, h5, h6, .font-primary {
  font-family: "Lato", sans-serif;
}

h3 {
  border-bottom: solid 3px skyblue;
  position: relative;
}

h3:after {
  position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 3px #ffc778;
  bottom: -3px;
  width: 30%;
}

@media (max-width: 768px) {
  h3 {
    font-size: 20px;
    line-height: 36px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*--------------------------------------------------------------
# Note
--------------------------------------------------------------*/

.note-card {
  border: thick double rgba(0, 0, 0, .3) !important;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

footer{
  margin-top: auto;
  background-color: #073839;
  color: #fff;
  text-align: center;
  font-size: 14px;
}
