<div class="container mt-4">
  <div class="d-flex">
    <h3>ユーザー情報一覧</h3>
  </div>
  <div class="table-responsive">
    <table class="table admin-table">
      <thead>
        <tr class="table-success">
          <th>ユーザー名</th>
          <th>メールアドレス</th>
          <th>登録日</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.created_at.strftime("%Y年%m月%d日 ") %></td>
          <td><%= link_to "詳細", admin_user_path(user), class: "btn btn-outline-warning" %></td>
      <% end %>
      </tbody>
    </table>
 </div>