<div class="container">
  <div class="d-flex">
    <h3>タスク詳細</h3>
   </div>
</div>
<div class="container">
  <div><%= @task.title %></div>
  <div><%= @task.starts_at %></div>
  <div><%= @task.ends_at %></div>
</div>